body {
		
font: 10pt Arial, Helvetica, sans-serif, Tahoma; /* Шрифт на веб-странице */


background: #DBDBEE url(/pic/main.jpg);

}

a:link {
text-decoration: none;
}


a:visited {
color: #cccccc;
}
h2 {
font-size: 1.1em; /* Размер шрифта */
color: #800040; /* Цвет текста */
margin-top: 0; /* Отступ сверху */
}
#container {
width: 500px; /* Ширина слоя */
margin: 0 auto; /* Выравнивание по центру */
margin-top: 5%;

border-radius: 8px;
position: relative;
/*box-shadow: inset 0 0 15px #CCC, 0 0 10px;*/
/*border: 1px solid #575757;*/
}
#header {
font-size: 3em; /* Размер текста */
text-align: center; /* Выравнивание по центру */
font-weight: 600; /* Насыщенность текста*/
text-shadow: 0px 2px 3px #555555; /* Тень текста */
padding: 5px; /* Отступы вокруг текста */
background: #464451; /* Цвет фона шапки */
color: #222222; /* Цвет текста */
border-radius: 8px 8px 0  0;
/*box-shadow: -2px -2px 5px #000;*/
letter-spacing: 5px;
position: relative;
}
#menu {
background: #464451; /* Цвет фона */
padding-bottom: 40px;
margin: 0px auto;
position: relative;
}

#content {
position: relative;
padding: 10px; /* Поля вокруг текста */
background: #ccc; /* Цвет фона правой колонки */
height: 100px;

}

#footer {
background: #464451; /* Цвет фона подвала */
color: #fff; /* Цвет текста */
padding: 2px; /* Отступы вокруг текста */
padding-bottom: 20px;
border-radius: 0 0 8px 8px;
/*box-shadow: -2px 2px 5px #000;*/
position: relative;
}
#footer .email, #footer .feedback, #footer .about {

float: left;
padding-left:20px;
cursor: pointer;
}

#footer a:hover {
color:#ffcc00;
}

#footer .copy {

float:right;
padding-right:10px;
}
#bg_block {
right: 5px;
bottom: 5px;
position: absolute;
padding: 2px;
background: #FFF;
border-radius: 20px;
transition: 0.5s all;
}



#bg_block:hover:after {
content: attr(title);

}

#bg_block_right {
	float: left;
	border-radius:0px 20px 20px 0px;
	padding:2px 10px 2px 5px;
	background: #FFF;
	border: 1px solid #EBEBEB;
}

#bg_block_left {
	float: left;
border-radius: 20px 0 0 20px;
padding:2px 5px 2px 10px;	
background: #78E496;
border: 1px solid #EBEBEB;
}

.fa.fa-question {
border: 1px solid;
font-size: 0.4em;
float: right;
border-radius: 100%;
text-align: center;
width: 1em;
height: 1em;
letter-spacing: normal;
cursor: pointer;
}



#social {
right: 5px;
top: 5px;
position: absolute;
border: 5px;
}

.info {
font-size: 1.1em; /* Размер текста */
font-weight: 600; /* Насыщенность текста*/
text-shadow: 0px 2px 3px #fff; /* Тень текста */
color: #7F7F7F; /* Цвет текста */
border: 0px ; /* Граница вокруг ячеек */
padding: 0px; /* Поля в ячейках */
}

.info i {
cursor: default;
	
}

.bg2 {
border-radius: 100%;
position: relative;
border: none;
height: 10px;
width: 10px;
padding: 0;
background-color: #282828;
cursor: pointer;
}

.bg1 {
	border-radius: 100%;
	position: relative;
border: none;
height: 10px;
width: 10px;
padding: 0;
background-color: #808080;
cursor: pointer;
}

#social a {
color: #575757;
/*text-shadow: 0 0 2px #005BFD;*/
font-size: 1.5em;
margin-left: 2px;
transition: 0.5s all;
border: 2px solid #575757;
padding: 0 2px;
text-align: center;
border-radius: 5px;
width: 1.1em;
height: 1.1em;
vertical-align: middle;
}

#social a:hover {
box-shadow: 0 0 18px #005BFD inset;
border: 2px solid #005BFD;
}

#social a.fa-gamepad:hover {
box-shadow: 0 0 12px #FFA300 inset;
border: 2px solid darkorange;
text-shadow: 0 0 2px #000;
color: darkorange;
}

#social a.fa-instagram:hover {
box-shadow: 0 0 18px #CFC0AD inset;
border: 2px solid #925A45;

color: #925A45;
}

#social a.fa-linkedin:hover {
box-shadow: 0 0 18px #9ACBE2 inset;
border: 2px solid #007BB6;

color: #007BB6;
}

#social a.fa-twitter:hover {
box-shadow: 0 0 18px #CFECF9 inset;
border: 2px solid #2DAAE4;

color: #2DAAE4;
}

#social a.fa-music:hover {
box-shadow: 0 0 18px #CFB1B1 inset;
border: 2px solid #F00;
color: #F00;
}

.fa {
.padding-right: 5px;
}
i:hover {
color:#ffcc00;
text-shadow: 0px 0px 2px black;
}

.about:hover:after {
content: attr(title);	
}

.fa-envelope-o:hover:after {
content: attr(title);	
}

.fa-comments:hover:after {
content: attr(title);	
}
.copy a:hover:after{
	content: attr(title);	

}

.fa.fa-question:hover:after {
	content: attr(title);
	
}

/*
#bg_block:hover:after, .about:hover:after, .fa-envelope-o:hover:after, .fa-comments:hover:after {
position: fixed;
top: 0px;
left: 0px;
color: #000;
width: 100%;
background: #F5F5DC;
text-align: center;
vertical-align: middle;
font-size: 1.5em;
}
*/
*:hover:after {
position: fixed;
top: 0px;
left: 0px;
color: #000;
width: 100%;
background: #D3B871;
text-align: center;
vertical-align: middle;
font-size: 1.5em;
text-shadow: none;
border-bottom: 1px solid #000;
box-shadow: 0 0 5px #FFB800, inset 0px -6px 6px #F3DEA8, inset 0px 8px 8px #F1CF77;
}


