

body {
font: 10pt Arial, Helvetica, sans-serif, Tahoma; /* Шрифт на веб-странице */
background: #DBDBEE url(/pic/main.jpg);
}

a:link {
text-decoration: none;
}

a:hover {
color:#ffcc00;
}

a:visited {
color: #cccccc;
}

h2 {
font-size: 1.1em; /* Размер шрифта */
color: #800040; /* Цвет текста */
margin-top: 0; /* Отступ сверху */
}

#container {
width: 500px; /* Ширина слоя */
margin: 0 auto; /* Выравнивание по центру */
margin-top: 5%;

border-top-right-radius: 20px;
border-top-left-radius: 20px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
position: relative;
box-shadow: inset 0 0 15px #CCC, 0 0 10px;
border: 1px solid #575757;
}
.header {
font-size: 3em; /* Размер текста */
text-align: center; /* Выравнивание по центру */
font-weight: 600; /* Насыщенность текста*/
text-shadow: 0px 2px 3px #555555; /* Тень текста */
padding: 5px; /* Отступы вокруг текста */
background: #464451; /* Цвет фона шапки */
color: #222222; /* Цвет текста */
border-top-right-radius: 20px;
border-top-left-radius: 20px;
/*box-shadow: -2px -2px 5px #000;*/
letter-spacing: 5px;
position: relative;
transition: all 0.5s;
}

.header:hover {
text-shadow: 0px 2px 3px #79D1E7; /* Тень текста */
color: #000; /* Цвет текста */
}
#menu {
background: #464451; /* Цвет фона */
padding-bottom: 40px;
margin: 0px auto;
position: relative;
}

#content {
position: relative;
padding: 10px; /* Поля вокруг текста */
background: #ccc; /* Цвет фона правой колонки */
height: 100px;

}

#footer {
background: #464451; /* Цвет фона подвала */
color: #fff; /* Цвет текста */
padding: 2px; /* Отступы вокруг текста */
padding-bottom: 20px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
/*box-shadow: -2px 2px 5px #000;*/
position: relative;
}
#footer .email {

float: left;
padding-left:20px;

}
#footer .copy {

float:right;
padding-right:10px;
}
#bg_block {
right: 5px;
bottom: 5px;
position: absolute;
border: 5px;
}
#social {
right: 5px;
top: 5px;
position: absolute;
border: 5px;
}

#content p {
font-size: 1.1em; /* Размер текста */
font-weight: 600; /* Насыщенность текста*/
text-shadow: 0px 2px 3px #fff; /* Тень текста */
color: #7F7F7F; /* Цвет текста */
margin-top: -8px;
}

#container2 {
width: 500px; /* Ширина слоя */
margin: 20px auto; /* Выравнивание по центру */
border-top-right-radius: 20px;
border-top-left-radius: 20px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
position: relative;
box-shadow: inset 0 0 15px #CCC, 0 0 10px;
border: 1px solid #575757;
}


}

#social a {
opacity: 0.25;
transition: all 0.5s;
}
#social a:hover, #social a:focus {
opacity: 1;
} 

#content2 p {
box-shadow: inset 0 0 30px #000;
text-shadow: 5px 5px 10px #000;
color:#fff;
text-align: center;
margin: 0 auto;
}

#content2 audio {
width:100%;

}

#content2 video {
padding: 2px 10px;
width: 480px;
}

.hidden {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100px;
background: #ccc;
color: #ccc;
font-size: 0;
transition: all 0.5s;
list-style: none;
}
.hidden:hover {
	color: #000;
	font-size: 1.1em;
}

ul li {
margin: 10px 0;	
}